input{
margin: 10px;
}
input:hover{
 background-color:#D5D5D5;
}
input:active{
 border: 2px inline green;
}
#sub:active{
 border:2px inline green;
}
#sub{
 height: 50px;
  width: 70px;
  background-color: lightslategrey;
  position: relative;
  left: 70px;
  top: 20px;
  color: white;
  border: 2px outline green;
}
#input{
  border: 1px solid black;
  display: inline-block;
  position: absolute;
  left: 500px;
  top: 100px;
  padding: 50px;
  background-color: #40B5EF;
}
